ul {
    margin: 0;
}
ul.dashed {
    list-style-type: none;
}
ul.dashed > li {
    text-indent: -5px;
}
ul.dashed > li:before {
    content: '\2014         ';
    text-indent: -5px;
    padding: 2em;
}

table.index{
    margin-top: 100px;
    margin-left: 650px;
    border-collapse: collapse;
    
}

td{
    border-collapse: collapse;
    border: 1px solid black;
    padding: 1em;
    text-align: center;
}
